@import "tailwindcss";

:root {
  --muted-olive: #8EAF53ff;
  --cinnamon-wood: #A77254ff;
  --fern: #4A7422ff;
  --saddle-brown: #7F4321ff;
  --palm-leaf: #94976Fff;
}

@media (prefers-color-scheme: light) {

  html,
  body {
    cursor: url("/images/cursor-default.png"), default;
    /* background-image: url("/images/wavy-bg-tile.png"); */
    @apply bg-gray-50
  }

  .cursor-pixel-pointer,
  button:hover,
  a:hover {
    cursor: url("/images/cursor-pointer.png"), default;
  }
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    cursor: url("/images/cursor-default-inverted.png"), default;
    @apply bg-gray-800 text-white
  }

  .cursor-pixel-pointer,
  button:hover,
  a:hover {
    cursor: url("/images/cursor-pointer-inverted.png"), default;
  }
}

h1 {
  @apply text-5xl text-center
}

p {
  @apply my-2
}

img {
  image-rendering: crisp-edges;
}

button,
a {
  @apply transition-all
}

button:hover:enabled,
a:hover {
  @apply brightness-110 scale-110
}

.bg-accent {
  @apply bg-(--muted-olive) text-white dark:bg-(--saddle-brown) border-black dark:border-white
}

.border-accent {
  @apply border-(--saddle-brown)
}