@import "tailwindcss";

@media (prefers-color-scheme: light) {

  html,
  body {
    cursor: url("/images/cursor-default-inverted.png"), default;
    /* just change the cursor.ico path to your location */
  }

  .cursor-pixel-pointer,
  button:hover,
  a:hover {
    cursor: url("/images/cursor-pointer.png"), default;
  }
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    cursor: url("/images/cursor-default.png"), default;
    /* just change the cursor.ico path to your location */
  }

  .cursor-pixel-pointer,
  button:hover,
  a:hover {
    cursor: url("/images/cursor-pointer-inverted.png"), default;
  }
}

h1 {
  @apply text-5xl text-center
}

p {
  @apply my-2
}

img {
  image-rendering: crisp-edges;
}

button:hover:enabled,
a:hover {
  @apply opacity-70
}